
.navbar {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
}

.option {
    color: rgb(255, 96, 96);
    transition: 200ms;
    cursor: pointer;
}

.option:hover {
    transform: scale(120%);
}